<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Refrescar token
            </div>
            <div class="card-body">
                <form (submit)="refreshToken()">
                    <!-- <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" [(ngModel)]="owner.email" name="email" class="form-control" placeholder="Ingresa el correo" required autofocus>
                    </div> -->
                    <div class="form-group">
                        <label for="Email">Correo:</label>
                        <input type="text" [(ngModel)]="owner.email" name="email" class="form-control" placeholder="Ingresa el correo" required>
                    </div>
                    <button  type="submit" class="btn btn-primary btn-block">
                      Refrescar token
                  </button>
                  
                    
                </form>
            </div>
        </div>
    </div>
</div>
