<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registro de Vehiculo
            </div>
            <div class="card-body">
                <form (submit)="registerVehicle()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="vehicle.placa" name="placa" class="form-control" placeholder="  Placa" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="vehicle.ownerId" name="id_owner" class="form-control" placeholder="Cédula Propietario" required autofocus>
                    </div>

                    <div class="form-group">
                        <input type="text" [(ngModel)]="vehicle.marca" name="marca" class="form-control" placeholder="Marca" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="vehicle.modelo" name="modelo" class="form-control" placeholder="Modelo" required>
                    </div>
                    <div class="form-group">
                        <input type="datetime-local" [(ngModel)]="vehicle.dateIn" name="dataIngreso" class="form-control" placeholder="Fecha de Ingreso" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
