<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignUp
            </div>
            <div class="card-body">
                <form (submit)="onSubmit()" [formGroup]="validatorGroup">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input [class.is-invalid]="validatorGroup.get('name').invalid && validatorGroup.get('name').touched" type="text" [(ngModel)]="user.name" name="name" class="form-control" placeholder="Name" formControlName="name" autofocus>
                        <div *ngIf="(name.invalid && name.touched) || name.dirty">
                            <small *ngIf="name.errors?.required" class="text-danger">El nombre es requerido</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cc">CC:</label>
                        <input [class.is-invalid]="validatorGroup.get('number').invalid && validatorGroup.get('number').touched" type="text" [(ngModel)]="user.id_user" name="id_user" class="form-control" placeholder="Cédula" formControlName="number">
                        <div *ngIf="(justNumber.invalid && justNumber.touched) || justNumber.dirty">
                            <small *ngIf="justNumber.errors?.required" class="text-danger">La cédula es requerida</small>
                            <!--question mark(?) is a safe navigation operator-->
                            <small *ngIf="justNumber.errors?.pattern" class="text-danger">Por favor, ingresa una cédula correcta</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input [class.is-invalid]="validatorGroup.get('email').invalid && validatorGroup.get('email').touched" type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" formControlName="email">
                        <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                            <small *ngIf="primEmail.errors?.required" class="text-danger">El Email es requerido</small>
                            <!--question mark(?) is a safe navigation operator-->
                            <small *ngIf="primEmail.errors?.pattern" class="text-danger">Por favor ingresa un Email correcto</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefono:</label>
                        <input [class.is-invalid] = "validatorGroup.get('phone').invalid && validatorGroup.get('phone').touched" type="text" [(ngModel)]="user.phone"  class="form-control" placeholder="Telefono" formControlName="phone">
                        <div *ngIf="(phone.invalid && phone.touched) || phone.dirty">
                            <small *ngIf="phone.errors?.required" class="text-danger">El telefono es requerido</small>
                            <!--question mark(?) is a safe navigation operator-->
                            <small *ngIf="phone.errors?.pattern" class="text-danger">Por favor, ingresa un telefono correcto</small>
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input [class.is-invalid]="validatorGroup.get('password').invalid && validatorGroup.get('password').touched" type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="password" formControlName="password">
                        <div *ngIf="(password.invalid && password.touched) || password.dirty">
                            <small *ngIf="password.errors?.required" class="text-danger">La contraseña es requerida</small>
                            <small *ngIf="password.errors?.minlength" class="text-danger">La contraseña debe tener más de 5 caracteres</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Role</label>
                        <select [class.is-invalid]="validatorGroup.get('role').invalid && validatorGroup.get('role').touched" [(ngModel)]="user.role" name="role" class="form-control" id="role" formControlName="role">
                            <div *ngIf="(role.invalid && role.touched) || role.dirty">
                                <small *ngIf="role.errors?.required" class="text-danger">Debes asignarle un rol al empleado</small>
                              </div>
                        <option>admin</option>
                        <option>Gerente general</option>
                        <option>Asistente de gerencia</option>
                        <option>Gerente financiero</option>
                        <option>Asistente financiero</option>
                        <option>Asistente recursos humanos</option>
                        <option>Supervisor de taller</option>
                        <option>Tecnico de taller</option>
                      </select>
                    </div>
                    <button type="submit" [disabled]="validatorGroup.invalid" class="btn btn-primary btn-block">
                        SignUp
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>