/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-image: url("src/assets/images/background.png") ;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
.imgRedonda{
 
    width:300px;
    height:300px;
    border-radius:150px;
    border:10px solid #666;

}

.img-ul-button{
  color:black
}
  .prueba{
      background-color: aquamarine;
      

  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
