<ng-container *ngIf="getForm(); else elseTemplate">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    Cambiar contraseña
                </div>
                <div class="card-body">
                    <form (submit)="cambiarPass()">
                        <!-- <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" [(ngModel)]="owner.email" name="email" class="form-control" placeholder="Ingresa el correo" required autofocus>
                        </div> -->
                        <div class="form-group">
                            <label for="Email">Ingresa el token:</label>
                            <input type="text" [(ngModel)]="data.token" name="email" class="form-control"
                            (keyup)="verificarPass()" placeholder="Ingresa el token" required>
                        </div>
                        <div class="form-group">
                            <label for="Email">Ingresa la contraseña:</label>
                            <input type="password" [(ngModel)]="data.password" name="email" class="form-control"
                            (keyup)="verificarPass()" placeholder="Ingresa la contraseña" required>
                        </div>
                        <div class="form-group">
                            <label for="Email">Confirmar contraseña:</label>
                            <input type="password" [(ngModel)]="pass2" name="email" class="form-control"
                               (keyup)="verificarPass()" placeholder="Ingresa la contraseña de nuevo" required>
                        </div>
                        <b style="color: red;" *ngIf="errorPass" >Las contraseñas no coinciden</b>
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="habBoton">
                            Cambiar contraseña
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    <button type="submit" class="btn btn-primary btn-block" (click)="cambiarForm()">
                        Enviar de nuevo el correo con el token
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    Ingresa correo para recibir el token
                </div>
                <div class="card-body">
                    <form (submit)="enviarCorreo()">
                        <!-- <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" [(ngModel)]="owner.email" name="email" class="form-control" placeholder="Ingresa el correo" required autofocus>
                        </div> -->
                        <div class="form-group">
                            <label for="Email">Correo:</label>
                            <input type="text" [(ngModel)]="user.email" name="email" class="form-control"
                                placeholder="Ingresa el correo" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Enviar correo
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>